---
header:
  overlay_image: /images/trooper-artist.jpg
  overlay_color: "#5e616c"
  overlay_filter: rgba(0, 125, 255, 0.5)
  caption: "Learn. Teach. Do."
  cta_label: "<i class='fa fa-envelope'></i> Sign up now"
  cta_url: "https://app.convertkit.com/landing_pages/400378?v=7"
title: David C Mitchell
layout: splash
excerpt: "Don't like checking the website often to see what's new? Sign up for the newsletter and get it delivered to your email instead."
author_profile: false
note: The picture is from https://unsplash.com/@danielkcheung
---

<div class="grid__wrapper">
  {% for post in paginator.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
